@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Kanit:wght@300;400;500;600;700&family=Sarabun:wght@400;500;600;700&display=swap');

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  overflow: hidden;
}